export PROJECT_DIR=$(cd "$( dirname "$BASH_SOURCE[0]" )" && pwd )/..
export PYTHONPATH=$PROJECT_DIR/:$PROJECT_DIR/src:$PYTHONPATH

export TWITTER_API_CONSUMER_KEY=
export TWITTER_API_CONSUMER_SECRET=
export TWITTER_API_ACCESS_TOKEN=
export TWITTER_API_ACCESS_TOKEN_SECRET=

export AWS_API_ACCESS_KEY=
export AWS_API_SECRET_ACCESS_KEY=
export AWS_API_REGION_NAME=
export AWS_FIREHOSE_DELIVERY_STREAM_NAME=

export TWITTER_STREAM_BY_LOCATION=""

export LOGGER_HOST=127.0.0.1
export LOGGER_PORT=24224

export PRODUCTION_MODE=False
