[unix_http_server]
file=/tmp/data-collection.sock

[supervisord]
logfile=/home/apps/log/supervisord.log
logfile=50MB
logfile_backup=2
loglevel=debug
pidfile=/home/apps/log/supervisord.pid
nodaemon=false
minfds=1024
minprocs=200

[rpcinterface:supervisor]
supervisor.rpcinterface_factory=supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///tmp/data-collection.supervisord.sock
history_file=~/.data_collection.sc_history

[include]
files=supervisord.conf.d/*.conf
