aniso8601==1.1.0
astroid==2.2.5
boto3==1.9.175
botocore==1.12.175
certifi==2019.6.16
chardet==3.0.4
click==6.6
docutils==0.14
fluent==0.10.0
fluent-logger==0.9.3
geographiclib==1.49
geopy==1.20.0
haversine==0.4.5
idna==2.8
isort==4.3.21
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.4
lazy-object-proxy==1.4.1
MarkupSafe==0.23
mccabe==0.6.1
msgpack==0.6.1
oauthlib==1.1.2
pylint==2.3.1
PySocks==1.7.0
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.20.0
requests-oauthlib==0.6.2
s3transfer==0.2.1
six==1.12.0
tweepy==3.5.0
tweet-preprocessor==0.5.0
typed-ast==1.4.0
urllib3==1.26.5
Werkzeug==0.15.3
wrapt==1.11.2
